<div>

	<h2>Edit a reminder</h2> 


	<form action="/edit" method="POST">

		<div>
			<label for="">First name:</label>
			<input type="text" name="firstName" placeholder="Enter first name">
		</div>
		<div>
			<label for="">Book count:</label>
			<input type="text" name="bookCount" placeholder="Enter the number of books">
		</div>
		<div>
			<label for="">Days due in:</label>

			<input type="text" name="dayCount" placeholder="Enter the # of days">
		</div>

		<div>
			<input type="submit" class="bigger-button" value="Update reminder">
		</div>
	</form>

</div>
